node_modules/
dist/web/*
dist/api/*
dist/workers/spectator/*
dist/workers/headhunter/*
dist/workers/journalist/*
dist/workers/archivist/*
dist/workers/coordinator/*
dist/workers/processor/*
dist/workers/background/*
dist/wss/*
yarn-cache
docker/nginx/ssl/*
output
