/* Сгенерировано Spritesmith. Не редактировать вручную. */


.h3 {
    background-image: url('/img/h3.png');
    display: inline-block;
}

.h3-heroes-small-zydar {
    width: 48px;
    height: 32px;
    background-position: -0px -0px;
}

.h3-heroes-small-zubin {
    width: 48px;
    height: 32px;
    background-position: -50px -0px;
}

.h3-heroes-small-ziph {
    width: 48px;
    height: 32px;
    background-position: -0px -34px;
}

.h3-heroes-small-zilare {
    width: 48px;
    height: 32px;
    background-position: -50px -34px;
}

.h3-heroes-small-yog {
    width: 48px;
    height: 32px;
    background-position: -100px -0px;
}

.h3-heroes-small-xyron {
    width: 48px;
    height: 32px;
    background-position: -100px -34px;
}

.h3-heroes-small-xsi {
    width: 48px;
    height: 32px;
    background-position: -0px -68px;
}

.h3-heroes-small-xeron {
    width: 48px;
    height: 32px;
    background-position: -50px -68px;
}

.h3-heroes-small-xarfax {
    width: 48px;
    height: 32px;
    background-position: -100px -68px;
}

.h3-heroes-small-wystan {
    width: 48px;
    height: 32px;
    background-position: -0px -102px;
}

.h3-heroes-small-wynona {
    width: 48px;
    height: 32px;
    background-position: -50px -102px;
}

.h3-heroes-small-wrathmont {
    width: 48px;
    height: 32px;
    background-position: -100px -102px;
}

.h3-heroes-small-voy {
    width: 48px;
    height: 32px;
    background-position: -150px -0px;
}

.h3-heroes-small-vokial {
    width: 48px;
    height: 32px;
    background-position: -150px -34px;
}

.h3-heroes-small-vidomina {
    width: 48px;
    height: 32px;
    background-position: -150px -68px;
}

.h3-heroes-small-victoria {
    width: 48px;
    height: 32px;
    background-position: -150px -102px;
}

.h3-heroes-small-vey {
    width: 48px;
    height: 32px;
    background-position: -0px -136px;
}

.h3-heroes-small-verdish {
    width: 48px;
    height: 32px;
    background-position: -50px -136px;
}

.h3-heroes-small-valeska {
    width: 48px;
    height: 32px;
    background-position: -100px -136px;
}

.h3-heroes-small-uland {
    width: 48px;
    height: 32px;
    background-position: -150px -136px;
}

.h3-heroes-small-ufretin {
    width: 48px;
    height: 32px;
    background-position: -200px -0px;
}

.h3-heroes-small-tyris {
    width: 48px;
    height: 32px;
    background-position: -200px -34px;
}

.h3-heroes-small-tyraxor {
    width: 48px;
    height: 32px;
    background-position: -200px -68px;
}

.h3-heroes-small-torosar {
    width: 48px;
    height: 32px;
    background-position: -200px -102px;
}

.h3-heroes-small-todd {
    width: 48px;
    height: 32px;
    background-position: -200px -136px;
}

.h3-heroes-small-tiva {
    width: 48px;
    height: 32px;
    background-position: -0px -170px;
}

.h3-heroes-small-thunar {
    width: 48px;
    height: 32px;
    background-position: -50px -170px;
}

.h3-heroes-small-thorgrim {
    width: 48px;
    height: 32px;
    background-position: -100px -170px;
}

.h3-heroes-small-theodorus {
    width: 48px;
    height: 32px;
    background-position: -150px -170px;
}

.h3-heroes-small-thant {
    width: 48px;
    height: 32px;
    background-position: -200px -170px;
}

.h3-heroes-small-thane {
    width: 48px;
    height: 32px;
    background-position: -0px -204px;
}

.h3-heroes-small-terek {
    width: 48px;
    height: 32px;
    background-position: -50px -204px;
}

.h3-heroes-small-tazar {
    width: 48px;
    height: 32px;
    background-position: -100px -204px;
}

.h3-heroes-small-tavin {
    width: 48px;
    height: 32px;
    background-position: -150px -204px;
}

.h3-heroes-small-tark {
    width: 48px;
    height: 32px;
    background-position: -200px -204px;
}

.h3-heroes-small-tancred {
    width: 48px;
    height: 32px;
    background-position: -250px -0px;
}

.h3-heroes-small-tamika {
    width: 48px;
    height: 32px;
    background-position: -250px -34px;
}

.h3-heroes-small-synca {
    width: 48px;
    height: 32px;
    background-position: -250px -68px;
}

.h3-heroes-small-sylvia {
    width: 48px;
    height: 32px;
    background-position: -250px -102px;
}

.h3-heroes-small-styg {
    width: 48px;
    height: 32px;
    background-position: -250px -136px;
}

.h3-heroes-small-straker {
    width: 48px;
    height: 32px;
    background-position: -250px -170px;
}

.h3-heroes-small-spint {
    width: 48px;
    height: 32px;
    background-position: -250px -204px;
}

.h3-heroes-small-spadum {
    width: 48px;
    height: 32px;
    background-position: -0px -238px;
}

.h3-heroes-small-sorsha {
    width: 48px;
    height: 32px;
    background-position: -50px -238px;
}

.h3-heroes-small-solmyr {
    width: 48px;
    height: 32px;
    background-position: -100px -238px;
}

.h3-heroes-small-siyal {
    width: 48px;
    height: 32px;
    background-position: -150px -238px;
}

.h3-heroes-small-sir_mullich {
    width: 48px;
    height: 32px;
    background-position: -200px -238px;
}

.h3-heroes-small-shiva {
    width: 48px;
    height: 32px;
    background-position: -250px -238px;
}

.h3-heroes-small-shakti {
    width: 48px;
    height: 32px;
    background-position: -300px -0px;
}

.h3-heroes-small-serena {
    width: 48px;
    height: 32px;
    background-position: -300px -34px;
}

.h3-heroes-small-septienna {
    width: 48px;
    height: 32px;
    background-position: -300px -68px;
}

.h3-heroes-small-sephinroth {
    width: 48px;
    height: 32px;
    background-position: -300px -102px;
}

.h3-heroes-small-saurug {
    width: 48px;
    height: 32px;
    background-position: -300px -136px;
}

.h3-heroes-small-sanya {
    width: 48px;
    height: 32px;
    background-position: -300px -170px;
}

.h3-heroes-small-sandro {
    width: 48px;
    height: 32px;
    background-position: -300px -204px;
}

.h3-heroes-small-sam {
    width: 48px;
    height: 32px;
    background-position: -300px -238px;
}

.h3-heroes-small-ryland {
    width: 48px;
    height: 32px;
    background-position: -0px -272px;
}

.h3-heroes-small-rosic {
    width: 48px;
    height: 32px;
    background-position: -50px -272px;
}

.h3-heroes-small-roland {
    width: 48px;
    height: 32px;
    background-position: -100px -272px;
}

.h3-heroes-small-rissa {
    width: 48px;
    height: 32px;
    background-position: -150px -272px;
}

.h3-heroes-small-rion {
    width: 48px;
    height: 32px;
    background-position: -200px -272px;
}

.h3-heroes-small-rashka {
    width: 48px;
    height: 32px;
    background-position: -250px -272px;
}

.h3-heroes-small-ranloo {
    width: 48px;
    height: 32px;
    background-position: -300px -272px;
}

.h3-heroes-small-pyre {
    width: 48px;
    height: 32px;
    background-position: -0px -306px;
}

.h3-heroes-small-piquedram {
    width: 48px;
    height: 32px;
    background-position: -50px -306px;
}

.h3-heroes-small-pasis {
    width: 48px;
    height: 32px;
    background-position: -100px -306px;
}

.h3-heroes-small-orrin {
    width: 48px;
    height: 32px;
    background-position: -150px -306px;
}

.h3-heroes-small-oris {
    width: 48px;
    height: 32px;
    background-position: -200px -306px;
}

.h3-heroes-small-ordwald {
    width: 48px;
    height: 32px;
    background-position: -250px -306px;
}

.h3-heroes-small-olema {
    width: 48px;
    height: 32px;
    background-position: -300px -306px;
}

.h3-heroes-small-oidana {
    width: 48px;
    height: 32px;
    background-position: -350px -0px;
}

.h3-heroes-small-octavia {
    width: 48px;
    height: 32px;
    background-position: -350px -34px;
}

.h3-heroes-small-nymus {
    width: 48px;
    height: 32px;
    background-position: -350px -68px;
}

.h3-heroes-small-nimbus {
    width: 48px;
    height: 32px;
    background-position: -350px -102px;
}

.h3-heroes-small-neya {
    width: 48px;
    height: 32px;
    background-position: -350px -136px;
}

.h3-heroes-small-neela {
    width: 48px;
    height: 32px;
    background-position: -350px -170px;
}

.h3-heroes-small-nagash {
    width: 48px;
    height: 32px;
    background-position: -350px -204px;
}

.h3-heroes-small-mutare_drake {
    width: 48px;
    height: 32px;
    background-position: -350px -238px;
}

.h3-heroes-small-mutare {
    width: 48px;
    height: 32px;
    background-position: -350px -272px;
}

.h3-heroes-small-murdoch {
    width: 48px;
    height: 32px;
    background-position: -350px -306px;
}

.h3-heroes-small-morton {
    width: 48px;
    height: 32px;
    background-position: -0px -340px;
}

.h3-heroes-small-monere {
    width: 48px;
    height: 32px;
    background-position: -50px -340px;
}

.h3-heroes-small-moandor {
    width: 48px;
    height: 32px;
    background-position: -100px -340px;
}

.h3-heroes-small-mirlanda {
    width: 48px;
    height: 32px;
    background-position: -150px -340px;
}

.h3-heroes-small-miriam {
    width: 48px;
    height: 32px;
    background-position: -200px -340px;
}

.h3-heroes-small-merist {
    width: 48px;
    height: 32px;
    background-position: -250px -340px;
}

.h3-heroes-small-mephala {
    width: 48px;
    height: 32px;
    background-position: -300px -340px;
}

.h3-heroes-small-melodia {
    width: 48px;
    height: 32px;
    background-position: -350px -340px;
}

.h3-heroes-small-melchior {
    width: 48px;
    height: 32px;
    background-position: -400px -0px;
}

.h3-heroes-small-marius {
    width: 48px;
    height: 32px;
    background-position: -400px -34px;
}

.h3-heroes-small-manfred {
    width: 48px;
    height: 32px;
    background-position: -400px -68px;
}

.h3-heroes-small-malekith {
    width: 48px;
    height: 32px;
    background-position: -400px -102px;
}

.h3-heroes-small-malcom {
    width: 48px;
    height: 32px;
    background-position: -400px -136px;
}

.h3-heroes-small-luna {
    width: 48px;
    height: 32px;
    background-position: -400px -170px;
}

.h3-heroes-small-loynis {
    width: 48px;
    height: 32px;
    background-position: -400px -204px;
}

.h3-heroes-small-lorelei {
    width: 48px;
    height: 32px;
    background-position: -400px -238px;
}

.h3-heroes-small-lord_haart {
    width: 48px;
    height: 32px;
    background-position: -400px -272px;
}

.h3-heroes-small-leena {
    width: 48px;
    height: 32px;
    background-position: -400px -306px;
}

.h3-heroes-small-lacus {
    width: 48px;
    height: 32px;
    background-position: -400px -340px;
}

.h3-heroes-small-labetha {
    width: 48px;
    height: 32px;
    background-position: -0px -374px;
}

.h3-heroes-small-kyrre {
    width: 48px;
    height: 32px;
    background-position: -50px -374px;
}

.h3-heroes-small-kriv {
    width: 48px;
    height: 32px;
    background-position: -100px -374px;
}

.h3-heroes-small-krellion {
    width: 48px;
    height: 32px;
    background-position: -150px -374px;
}

.h3-heroes-small-kreile {
    width: 48px;
    height: 32px;
    background-position: -200px -374px;
}

.h3-heroes-small-korbac {
    width: 48px;
    height: 32px;
    background-position: -250px -374px;
}

.h3-heroes-small-kinr {
    width: 48px;
    height: 32px;
    background-position: -300px -374px;
}

.h3-heroes-small-kinkeria {
    width: 48px;
    height: 32px;
    background-position: -350px -374px;
}

.h3-heroes-small-kilgor {
    width: 48px;
    height: 32px;
    background-position: -400px -374px;
}

.h3-heroes-small-kalt {
    width: 48px;
    height: 32px;
    background-position: -0px -408px;
}

.h3-heroes-small-josephine {
    width: 48px;
    height: 32px;
    background-position: -50px -408px;
}

.h3-heroes-small-jeremy {
    width: 48px;
    height: 32px;
    background-position: -100px -408px;
}

.h3-heroes-small-jenova {
    width: 48px;
    height: 32px;
    background-position: -150px -408px;
}

.h3-heroes-small-jeddite {
    width: 48px;
    height: 32px;
    background-position: -200px -408px;
}

.h3-heroes-small-jaegar {
    width: 48px;
    height: 32px;
    background-position: -250px -408px;
}

.h3-heroes-small-jabarkas {
    width: 48px;
    height: 32px;
    background-position: -300px -408px;
}

.h3-heroes-small-ivor {
    width: 48px;
    height: 32px;
    background-position: -350px -408px;
}

.h3-heroes-small-isra {
    width: 48px;
    height: 32px;
    background-position: -400px -408px;
}

.h3-heroes-small-iona {
    width: 48px;
    height: 32px;
    background-position: -450px -0px;
}

.h3-heroes-small-inteus {
    width: 48px;
    height: 32px;
    background-position: -450px -34px;
}

.h3-heroes-small-ingham {
    width: 48px;
    height: 32px;
    background-position: -450px -68px;
}

.h3-heroes-small-illor {
    width: 48px;
    height: 32px;
    background-position: -450px -102px;
}

.h3-heroes-small-ignissa {
    width: 48px;
    height: 32px;
    background-position: -450px -136px;
}

.h3-heroes-small-ignatius {
    width: 48px;
    height: 32px;
    background-position: -450px -170px;
}

.h3-heroes-small-henrietta {
    width: 48px;
    height: 32px;
    background-position: -450px -204px;
}

.h3-heroes-small-halon {
    width: 48px;
    height: 32px;
    background-position: -450px -238px;
}

.h3-heroes-small-haart_lich {
    width: 48px;
    height: 32px;
    background-position: -450px -272px;
}

.h3-heroes-small-gurnisson {
    width: 48px;
    height: 32px;
    background-position: -450px -306px;
}

.h3-heroes-small-gunnar {
    width: 48px;
    height: 32px;
    background-position: -450px -340px;
}

.h3-heroes-small-gundula {
    width: 48px;
    height: 32px;
    background-position: -450px -374px;
}

.h3-heroes-small-grindan {
    width: 48px;
    height: 32px;
    background-position: -450px -408px;
}

.h3-heroes-small-gretchin {
    width: 48px;
    height: 32px;
    background-position: -0px -442px;
}

.h3-heroes-small-glaciy {
    width: 48px;
    height: 32px;
    background-position: -50px -442px;
}

.h3-heroes-small-giselle {
    width: 48px;
    height: 32px;
    background-position: -100px -442px;
}

.h3-heroes-small-gird {
    width: 48px;
    height: 32px;
    background-position: -150px -442px;
}

.h3-heroes-small-gerwulf {
    width: 48px;
    height: 32px;
    background-position: -200px -442px;
}

.h3-heroes-small-geon {
    width: 48px;
    height: 32px;
    background-position: -250px -442px;
}

.h3-heroes-small-gem {
    width: 48px;
    height: 32px;
    background-position: -300px -442px;
}

.h3-heroes-small-gelu {
    width: 48px;
    height: 32px;
    background-position: -350px -442px;
}

.h3-heroes-small-gelare {
    width: 48px;
    height: 32px;
    background-position: -400px -442px;
}

.h3-heroes-small-galthran {
    width: 48px;
    height: 32px;
    background-position: -450px -442px;
}

.h3-heroes-small-frederick {
    width: 48px;
    height: 32px;
    background-position: -500px -0px;
}

.h3-heroes-small-floribert {
    width: 48px;
    height: 32px;
    background-position: -500px -34px;
}

.h3-heroes-small-fiur {
    width: 48px;
    height: 32px;
    background-position: -500px -68px;
}

.h3-heroes-small-fiona {
    width: 48px;
    height: 32px;
    background-position: -500px -102px;
}

.h3-heroes-small-finneas {
    width: 48px;
    height: 32px;
    background-position: -500px -136px;
}

.h3-heroes-small-fafner {
    width: 48px;
    height: 32px;
    background-position: -500px -170px;
}

.h3-heroes-small-ergon {
    width: 48px;
    height: 32px;
    background-position: -500px -204px;
}

.h3-heroes-small-erdamon {
    width: 48px;
    height: 32px;
    background-position: -500px -238px;
}

.h3-heroes-small-eovacius {
    width: 48px;
    height: 32px;
    background-position: -500px -272px;
}

.h3-heroes-small-elmore {
    width: 48px;
    height: 32px;
    background-position: -500px -306px;
}

.h3-heroes-small-elleshar {
    width: 48px;
    height: 32px;
    background-position: -500px -340px;
}

.h3-heroes-small-edric {
    width: 48px;
    height: 32px;
    background-position: -500px -374px;
}

.h3-heroes-small-eanswythe {
    width: 48px;
    height: 32px;
    background-position: -500px -408px;
}

.h3-heroes-small-dury {
    width: 48px;
    height: 32px;
    background-position: -500px -442px;
}

.h3-heroes-small-duin {
    width: 48px;
    height: 32px;
    background-position: -0px -476px;
}

.h3-heroes-small-drakon {
    width: 48px;
    height: 32px;
    background-position: -50px -476px;
}

.h3-heroes-small-dracon {
    width: 48px;
    height: 32px;
    background-position: -100px -476px;
}

.h3-heroes-small-dessa {
    width: 48px;
    height: 32px;
    background-position: -150px -476px;
}

.h3-heroes-small-derek {
    width: 48px;
    height: 32px;
    background-position: -200px -476px;
}

.h3-heroes-small-deemer {
    width: 48px;
    height: 32px;
    background-position: -250px -476px;
}

.h3-heroes-small-darkstorn {
    width: 48px;
    height: 32px;
    background-position: -300px -476px;
}

.h3-heroes-small-dargem {
    width: 48px;
    height: 32px;
    background-position: -350px -476px;
}

.h3-heroes-small-daremyth {
    width: 48px;
    height: 32px;
    background-position: -400px -476px;
}

.h3-heroes-small-damacon {
    width: 48px;
    height: 32px;
    background-position: -450px -476px;
}

.h3-heroes-small-dalton {
    width: 48px;
    height: 32px;
    background-position: -500px -476px;
}

.h3-heroes-small-dace {
    width: 48px;
    height: 32px;
    background-position: -0px -510px;
}

.h3-heroes-small-cyra {
    width: 48px;
    height: 32px;
    background-position: -50px -510px;
}

.h3-heroes-small-cuthbert {
    width: 48px;
    height: 32px;
    background-position: -100px -510px;
}

.h3-heroes-small-crag_hack {
    width: 48px;
    height: 32px;
    background-position: -150px -510px;
}

.h3-heroes-small-coronius {
    width: 48px;
    height: 32px;
    background-position: -200px -510px;
}

.h3-heroes-small-corkes {
    width: 48px;
    height: 32px;
    background-position: -250px -510px;
}

.h3-heroes-small-clavius {
    width: 48px;
    height: 32px;
    background-position: -300px -510px;
}

.h3-heroes-small-clancy {
    width: 48px;
    height: 32px;
    background-position: -350px -510px;
}

.h3-heroes-small-ciele {
    width: 48px;
    height: 32px;
    background-position: -400px -510px;
}

.h3-heroes-small-christian {
    width: 48px;
    height: 32px;
    background-position: -450px -510px;
}

.h3-heroes-small-charna {
    width: 48px;
    height: 32px;
    background-position: -500px -510px;
}

.h3-heroes-small-celestine {
    width: 48px;
    height: 32px;
    background-position: -550px -0px;
}

.h3-heroes-small-catherine {
    width: 48px;
    height: 32px;
    background-position: -550px -34px;
}

.h3-heroes-small-cassiopeia {
    width: 48px;
    height: 32px;
    background-position: -550px -68px;
}

.h3-heroes-small-casmetra {
    width: 48px;
    height: 32px;
    background-position: -550px -102px;
}

.h3-heroes-small-calid {
    width: 48px;
    height: 32px;
    background-position: -550px -136px;
}

.h3-heroes-small-calh {
    width: 48px;
    height: 32px;
    background-position: -550px -170px;
}

.h3-heroes-small-caitlin {
    width: 48px;
    height: 32px;
    background-position: -550px -204px;
}

.h3-heroes-small-bron {
    width: 48px;
    height: 32px;
    background-position: -550px -238px;
}

.h3-heroes-small-broghild {
    width: 48px;
    height: 32px;
    background-position: -550px -272px;
}

.h3-heroes-small-brissa {
    width: 48px;
    height: 32px;
    background-position: -550px -306px;
}

.h3-heroes-small-boragus {
    width: 48px;
    height: 32px;
    background-position: -550px -340px;
}

.h3-heroes-small-bidley {
    width: 48px;
    height: 32px;
    background-position: -550px -374px;
}

.h3-heroes-small-biarma {
    width: 48px;
    height: 32px;
    background-position: -550px -408px;
}

.h3-heroes-small-bexp {
    width: 48px;
    height: 32px;
    background-position: -550px -442px;
}

.h3-heroes-small-bertram {
    width: 48px;
    height: 32px;
    background-position: -550px -476px;
}

.h3-heroes-small-beatrice {
    width: 48px;
    height: 32px;
    background-position: -550px -510px;
}

.h3-heroes-small-aykturn {
    width: 48px;
    height: 32px;
    background-position: -0px -544px;
}

.h3-heroes-small-ayden {
    width: 48px;
    height: 32px;
    background-position: -50px -544px;
}

.h3-heroes-small-axis {
    width: 48px;
    height: 32px;
    background-position: -100px -544px;
}

.h3-heroes-small-astral {
    width: 48px;
    height: 32px;
    background-position: -150px -544px;
}

.h3-heroes-small-astra {
    width: 48px;
    height: 32px;
    background-position: -200px -544px;
}

.h3-heroes-small-ash {
    width: 48px;
    height: 32px;
    background-position: -250px -544px;
}

.h3-heroes-small-arlach {
    width: 48px;
    height: 32px;
    background-position: -300px -544px;
}

.h3-heroes-small-andra {
    width: 48px;
    height: 32px;
    background-position: -350px -544px;
}

.h3-heroes-small-andal {
    width: 48px;
    height: 32px;
    background-position: -400px -544px;
}

.h3-heroes-small-anabel {
    width: 48px;
    height: 32px;
    background-position: -450px -544px;
}

.h3-heroes-small-allora {
    width: 48px;
    height: 32px;
    background-position: -500px -544px;
}

.h3-heroes-small-alkin {
    width: 48px;
    height: 32px;
    background-position: -550px -544px;
}

.h3-heroes-small-alamar {
    width: 48px;
    height: 32px;
    background-position: -600px -0px;
}

.h3-heroes-small-alagar {
    width: 48px;
    height: 32px;
    background-position: -600px -34px;
}

.h3-heroes-small-akka {
    width: 48px;
    height: 32px;
    background-position: -600px -68px;
}

.h3-heroes-small-ajit {
    width: 48px;
    height: 32px;
    background-position: -600px -102px;
}

.h3-heroes-small-aislinn {
    width: 48px;
    height: 32px;
    background-position: -600px -136px;
}

.h3-heroes-small-aine {
    width: 48px;
    height: 32px;
    background-position: -600px -170px;
}

.h3-heroes-small-agar {
    width: 48px;
    height: 32px;
    background-position: -600px -204px;
}

.h3-heroes-small-aeris {
    width: 48px;
    height: 32px;
    background-position: -600px -238px;
}

.h3-heroes-small-aenain {
    width: 48px;
    height: 32px;
    background-position: -600px -272px;
}

.h3-heroes-small-adrienne {
    width: 48px;
    height: 32px;
    background-position: -600px -306px;
}

.h3-heroes-small-adelaide {
    width: 48px;
    height: 32px;
    background-position: -600px -340px;
}

.h3-heroes-small-adela {
    width: 48px;
    height: 32px;
    background-position: -600px -374px;
}

.h3-heroes-small-hero_kalt {
    width: 48px;
    height: 32px;
    background-position: -600px -408px;
}

.h3-towns-tower {
    width: 48px;
    height: 32px;
    background-position: -600px -442px;
}

.h3-towns-stronghold {
    width: 48px;
    height: 32px;
    background-position: -600px -476px;
}

.h3-towns-rampart {
    width: 48px;
    height: 32px;
    background-position: -600px -510px;
}

.h3-towns-necropolis {
    width: 48px;
    height: 32px;
    background-position: -600px -544px;
}

.h3-towns-kronwerk {
    width: 48px;
    height: 32px;
    background-position: -0px -578px;
}

.h3-towns-inferno {
    width: 48px;
    height: 32px;
    background-position: -50px -578px;
}

.h3-towns-fortress {
    width: 48px;
    height: 32px;
    background-position: -100px -578px;
}

.h3-towns-factory {
    width: 48px;
    height: 32px;
    background-position: -150px -578px;
}

.h3-towns-dungeon {
    width: 48px;
    height: 32px;
    background-position: -200px -578px;
}

.h3-towns-cove {
    width: 48px;
    height: 32px;
    background-position: -250px -578px;
}

.h3-towns-conflux {
    width: 48px;
    height: 32px;
    background-position: -300px -578px;
}

.h3-towns-castle {
    width: 48px;
    height: 32px;
    background-position: -350px -578px;
}
